.item {
    background-color: var(--primary-color-2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 49%;
    padding: 1rem;
}

.item:hover {
    transform: scale(1.05);
}

.item__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.item__description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* mobile version */
@media (max-width: 768px) {
    .item {
        width: 100%;
    }
}