@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(236, 76, 138, 1);
  --secondary-color: rgba(29, 29, 29, 1);
  --white-color: rgba(255, 255, 255, 1);
}